<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/katex/katex.min.css">
<script defer src="{{ site.BASE_PATH }}/assets/resources/katex/katex.min.js"></script>
<script defer src="{{ site.BASE_PATH }}/assets/resources/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false}
            ],
            throwOnError : false
        });
    });
</script>